@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply overflow-x-hidden
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  @apply text-sm font-medium font-Satoshi relative after:absolute after:bottom-0 after:left-0 after:h-0.5 hover:after:w-full after:bg-blue-600 after:transition-all 
}

/* Button Hero Section */
.btn {
  @apply w-fit flex items-center justify-between gap-2 border border-gray-500 bg-[#6248d6] text-white rounded-md px-5 py-2 hover:shadow-lg hover:shadow-blue-100 focus:border-blue-600 focus:right-2 focus:ring-blue-100 transition-all duration-300;
}
  
.btn span {
  @apply font-bold;
}
  
.btn:hover {
  @apply opacity-90;
}

.clip-path-slant {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  width: 50%;
}
