@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply overflow-x-hidden
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link {
  @apply text-sm font-medium font-Satoshi relative after:absolute after:bottom-0 after:left-0 after:h-0.5 hover:after:w-full after:bg-blue-600 after:transition-all 
}

/* Button Hero Section */
.btn {
  @apply w-fit flex items-center justify-between gap-2 border border-gray-500 bg-[#6248d6] text-white rounded-md px-5 py-2 hover:shadow-lg hover:shadow-blue-100 focus:border-blue-600 focus:right-2 focus:ring-blue-100 transition-all duration-300;
}
  
.btn span {
  @apply font-bold;
}
  
.btn:hover {
  @apply opacity-90;
}

/* Example Section -  imgs carousel */
.swiper {
  @apply w-full p-[60px];
}

.swiper-slide {
  @apply relative w-[300px] h-[500px] bg-white shadow-[1px_22px_44px_rgba(0,0,0,0.2)] rounded-[10px] overflow-hidden transition duration-[1s] select-none;
}

.swiper-slide-active {
  @apply w-[600px] transition duration-[1s] ease-in-out border-2 border-white;
}

.swiper-slide img {
  @apply absolute inset-0 grayscale-[90%];
}

.swiper-slide-active img {
  @apply grayscale-0;
}

.title {
  @apply absolute inset-0 w-full h-full flex flex-col justify-end pt-[25px] pr-[25px] pb-[30px] pl-[25px];
}

.title h1 {
  @apply text-[2rem] text-white font-Satoshi font-[700] opacity-[1] transition delay-[1s] duration-[0.8s] ease-in-out;
}

.swiper-slide-active .title h1 {
  @apply opacity-0 transition delay-0;
}

.content {
  @apply absolute inset-0 w-full h-full pt-[25px] pr-[25px] pb-[65px] pl-[25px] flex flex-col justify-end bg-[rgba(0,0,0,0.5)] bg-[linear-gradient(180deg,transparent,transparent,rgba(0,0,0,0.4),rgba(0,0,0,0.7))] text-white z-[1] opacity-0;
}

.swiper-slide-active .content {
  @apply opacity-[1] transition duration-[0.8s] delay-[0.5s];
}

.text-box {
  @apply border-l-4 border-red-400 pl-[4px] mb-2 opacity-0;
}

.swiper-slide-active .text-box {
  @apply opacity-[1] transition duration-[0.8s] delay-[1s];
}

.text-box p {
  @apply text-[1rem] font-Satoshi font-[400] text-white leading-[1.5] translate-y-full opacity-0;
}

.swiper-slide-active .text-box p {
  @apply translate-y-0 opacity-[1] transition duration-[1.5s] ease-in delay-[1s];
}

.footer-swip {
  @apply absolute bottom-[20px] left-[25px] w-[calc(100%_-_25px_*_2)] flex items-center justify-between opacity-0;
}

.swiper-slide-active .footer-swip {
  @apply opacity-[1];
}

.category {
  @apply flex flex-wrap gap-[10px];
}

.category span {
  @apply text-white py-[5px] px-[15px] text-[0.85rem] border-[1px] border-[rgba(255,255,255,0.5)] rounded-[30px] shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-[8px] bg-[rgba(255,255,255,0.2)] opacity-0;
}

.swiper-slide-active .category span {
  @apply opacity-[1] transition duration-[0.8s] ease-out delay-[calc(1.5s_+_var(--i)_*_0.4s)];
}

.btn-swip {
  @apply relative text-[0.85rem] font-[500] py-[8px] px-[15px] bg-white text-[#000] border-0 rounded-[5px] overflow-hidden cursor-pointer opacity-0;

  @apply before:content-[''] before:absolute before:left-1/2 before:top-1/2 before:translate-x-[-50%] before:translate-y-[-50%] before:w-0 before:h-0 before:transition-all before:duration-[0.5s] before:ease-[cubic-bezier(0,0,0.2,1)] before:bg-red-400 before:rounded-full;

  @apply hover:before:w-[200px] hover:before:h-[200px];
}

.swiper-slide-active .btn-swip {
  @apply opacity-[1] transition duration-[0.8s] ease-out delay-[3s];
}

.label {
  @apply relative group-hover:text-white;
}

.swiper-pagination-bullet {
  @apply w-[16px] h-[16px] bg-white rounded-[50%];
}

.swiper-pagination-bullet-active {
  @apply w-[32px] bg-red-500 rounded-[14px] transition-all duration-[0.8s] ease-in-out;
}